@media print{#print_btn,footer,header{display:none}.spec-table{page-break-inside:avoid;page-break-after:avoid}.spec-table__item{display:flex;flex-wrap:nowrap}.spec-table__th{flex-shrink:1;flex-basis:25%}.spec-table__td{flex-grow:1}.spec-table__icon{display:none}}